### Decorator

In [89]:
def call_counter(func):
    def counter(*args, **kwargs):
        counter.calls += 1
        return func(*args, **kwargs)
    counter.calls = 0
    return counter

### Classes Company, Job, Person, Date, Time

In [121]:
class CompanyError(Exception):
    def __init__(self, message, value):
        self._message = message
        self._value = value
        super().__init__(f"{message}: {value}")
        
        
class Company:
    
    def __init__(self, company_name, founded_at, employees_count):
        
        if employees_count < 0:
            raise CompanyError("Employee count cannot be negative", employees_count)
        self._company_name = company_name
        self._founded_at = founded_at
        self._employees_count = employees_count
            
    def __repr__(self):
        return f"{self._company_name} was founded at {self._founded_at} and has {self._employees_count} employees"


class JobError(Exception):
    def __init__(self, message, value):
        self._message = message
        self._value = value
        super().__init__(f"{message}: {value}")
    
class Job:
    
    def __init__(self,company,salary, experience_year, position):
        if salary < 0:
            raise JobError("Salary cannot be negative",salary)
            
        if experience_year < 0:
            raise JobError("Experience cannot be negative", experience_year)
        self._company = company
        self._salary = salary
        self._experience_year = experience_year
        self._position = position
        
    def __repr__(self):
        return f"Job at {self._company.company_name} as {self._position} with ${self._salary} salary. Required experience of {self._experience_year} years"
    
    
    def salary_change(self, changes_salary):
        self._salary = changes_salary
        
    def change_experience_year(self, new_year):
        self._experience_year = new_year
        
    def change_position(self,new_position):
        self._position = new_position

class PersonError(Exception):
    def __init__(self, message, value):
        self._message = message
        self._value = value
        super().__init__(f"{message}: {value}")
    
class Person:
    
    def __init__(self, name, surname, gender, age, address, friends = [], jobs = []):
        if gender not in ["Male", "Female"]:
            raise PersonError("Gender should be Male or Female ", gender)
            
        if age < 0:
            raise PersonError("Age cannot be nagetive", age)
        self._name = name
        self._surname = surname
        self._gender = gender
        self._age = age
        self._address = address
        self._friends = friends
        self._jobs = jobs
        
    def __repr__(self):
        return f"""{self._name} {self._surname}({self._gender}) is {self._age} years old, lives at {self._address},
                works as {self._jobs} and is friends with {self._friends}"""
    

    def add_friends(self, friend):
        self._friends.append(friend)
         
    def remove_friend(self, friend):
        self._friends.remove(friend)
        
    def add_job(self,job):
        self._jobs.append(job)
        job._company._employees_count += 1
        
    def remove_job(self,job, company):
        self._jobs.remove(job)
        company._employees_count -= 1
        
    def display_job(self):
        print(self._jobs)

In [116]:
comp1 = Company("Apple", 1970, -20)

CompanyError: Employee count cannot be negative: -20

In [119]:
comp2 = Company("Krisp", 2017, 230)

In [120]:
job1 = Job(comp2, 75000, -3, " Web developer")

JobError: Experience cannot be negative: -3

In [158]:
class DateError(Exception):
    def __init__(self, message, value):
        self._message = message
        self._value = value
        super().__init__(f"{message}: {value}")
        
        
class Date:

    def __init__(self, day, month, year):
        if day < 1 or day > 31:
            raise DateError("Date should be between 1 and 31", day)
            
        if month < 1 or month > 12:
            raise DateError("Month should be between 1 and 12", month)
        self._day = day
        self._month = month
        self._year = year
        
    def __repr__(self):
        return f"{self._day}.{self._month}.{self._year}"
    
    def add_day(self, n):
        mo = {1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31}
        if self.is_leap_year():
            mo.update({2 : 29})

        for i in range(n):
            if mo[self._month] == self._day:
                self.add_month(1)
                self._day = 1
            else:
                self._day += 1
        
    def add_month(self,n):
        for i in range(n):
            if self._month == 12:
                self.add_year(1)
                self._month = 1
            else:
                self._month += 1
        
    def add_year(self,n):
        self._year += n
        
    def is_leap_year(self):
        if (self._year % 400 == 0) and (self._year % 100 == 0):
            return True
        elif (self._year % 4 ==0) and (self._year % 100 != 0):
            return True
        else:
            return False
        
    def sub_year(self,n):
        self._year -= n
        
    def sub_month(self,n):
        for i in range(n):
            if self._month == 1:
                self.sub_year(1)
                self._month = 12
            else:
                self._month -= 1
                
    def sub_day(self,n):
        mo = {1: 31, 2: 28, 3: 31, 4: 30, 5: 31, 6: 30, 7: 31, 8: 31, 9: 30, 10: 31, 11: 30, 12: 31}
        if self.is_leap_year():
            mo.update({2 : 29})

        for i in range(n):
            if self._day == 1 :
                self.sub_month(1)
                self._day = mo[self._month]
            else:
                self._day += 1

In [123]:
d1 = Date(27,2,2012)
d1

27.2.2012

In [124]:
d1.add_month(23)

In [125]:
d1

27.1.2014

In [129]:
d2 = Date(54, 12, 2005)

DateError: Date should be between 1 and 31: 54

In [219]:
class TimeError(Exception):
    def __init__(self, message, value):
        self._message = message
        self._value = value
        super().__init__(f"{message}: {value}")
        
        
class Time:
    
    def __init__(self,hour, minute, second):
        if hour < 0 or hour > 24:
            raise TimeError("Hours should be between 0 and 24", hour)
        if minute < 0 or minute > 59:
            raise TimeError("Minute should be between 0 and 59", minute)
        if second < 0 or second > 59:
            raise TimeError("Second should be between 0 and 59", second)
        self._hour = hour
        self._minute = minute
        self._second = second
        
    def __repr__(self):
        return f"{self._hour}h:{self._minute}m:{self._second}s"
            
    def add_second(self,n):
        
        for i in range(n):
            if self._second == 59:
                self.add_minute(1)
                self._second = 0
            else:
                self._second += 1
            
    def add_minute(self,n):
        
        for i in range(n):
            if self._minute == 59:
                self.add_hour(1)
                self._minute = 0
            else:
                self._minute += 1
            
    def add_hour(self,n):
        for i in range(n):
            if self._hour == 23:
                self._hour = (self._hour + 1)%24
            else:
                self._hour += 1

In [220]:
t1 = Time(2,50,24)
t1

2h:50m:24s

In [221]:
t1.add_minute(120)

In [222]:
t1

4h:50m:24s

In [223]:
t1.add_hour(20)

In [224]:
t1

0h:50m:24s

### DateTime

In [274]:
class DateTime():
    
    def __init__(self, date, time):
        self._date = date
        self._time = time
        
    def __repr__(self):
        return f"{self._date} {self._time}"
    
    @property
    def date(self):
        return self._date
    
    @date.setter
    def date(self, value):
        self._date = value
        
    @property
    def time(self):
        return self._time
    
    @time.setter
    def time(self, value):
        self._time = value
        
    def add_second(self, n):
        self._time.add_second(n)
        
    def add_minute(self, n):
        self._time.add_minute(n)
        
    def add_hour(self,n):
        for i in range(n):
            if self._time._hour == 23:
                self._time._hour = (self._time._hour + 1)%24
                self._date._day += 1
            else:
                self._time._hour += 1
    
    def add_day(self, n):
        self._date.add_day(n)
    
    def add_month(self, n):
        self._date.add_month(n)
        
    def add_year(self, n):
        self._date.add_year(n)
        
    def sub_year(self,n):
        self._date.sub_year(n)
        
    def sub_month(self,n):
        self._date.sub_month(n)
        
    def sub_day(self,n):
        self._date.sub_day(n)
        
        
    def sub_hour(self,n):
        for i in range(n):
            if self._time._hour == 0:
                self._time._hour = 23
                self._date._day -= 1
            else:
                self._time._hour -= 1
            
            
    def sub_minute(self,n):
        
        for i in range(n):
            if self._time._minute == 0:
                self.sub_hour(1)
                self._time._minute = 59
            else:
                self._time._minute -= 1
                
    def sub_second(self,n):
        
        for i in range(n):
            if self._time._second == 0:
                self.sub_minute(1)
                self._time._second = 59
            else:
                self._time._second -= 1

In [275]:
datetime1 = DateTime(Date(1,2,2003), Time(12,45,36))

In [276]:
datetime1

1.2.2003 12h:45m:36s

In [277]:
datetime1.sub_year(1)

In [278]:
datetime1.sub_month(2)

In [279]:
datetime1

1.12.2001 12h:45m:36s

In [280]:
datetime1.add_hour(12)

In [281]:
datetime1

2.12.2001 0h:45m:36s

In [282]:
datetime2 = DateTime(Date(4,5,2022), Time(10, 7, 54))
datetime2

4.5.2022 10h:7m:54s

In [283]:
datetime2.sub_hour(11)

In [284]:
datetime2

3.5.2022 23h:7m:54s

In [285]:
datetime2.sub_minute(8)

In [286]:
datetime2

3.5.2022 22h:59m:54s

### Money

In [287]:
class MoneyError(Exception):
    def __init__(self, message, value):
        self._message = message
        self._value = value
        super().__init__(f"{message}: {value}")
    
class Money:
       
    def  __init__(self, amount, currency):
        exchange = {"AMD": 1, "RUB": 5.8, "USD": 400, "EUR": 430}
        if currency not in list(exchange.keys()):
            raise MoneyError("Currency should be AMD,RUB,USD, or EUR", currency)
        self._amount = amount
        self._currency = currency.upper()
        
    def __repr__(self):
        return f"{self._amount} {self._currency}"
    
    @property
    def amount(self):
        return self._amount
    
    @amount.setter
    def amount(self, value):
        self._amount = value
        
    @property
    def currency(self):
        return self._currency
    
    @currency.setter
    def currency(self,string):
        self._currency = string
    
    @call_counter
    def conversion(self):
        exchange = {"AMD": 1, "RUB": 5.8, "USD": 400, "EUR": 430}
        self._amount = exchange[self._currency] * self._amount
        self._currency = "AMD"
        
    def __add__(self, val):
        self.conversion()
        val.conversion()
        return f"{self._amount + val._amount} AMD"
    
    def __sub__(self, val):
        self.conversion()
        val.conversion()
        return f"{self._amount - val._amount} AMD"
    
    def __truediv__(self, val):
        self.conversion()
        val.conversion()
        return f"{self._amount / val._amount} AMD"
    
    def __eq__(self,val):
        self.conversion()
        val.conversion()
        return self._amount == val._amount
    
    def __ne__(self,val):
        self.conversion()
        val.conversion()
        return self._amount != val._amount
    
    def __lt__(self, val):
        self.conversion()
        val.conversion()
        return self._amount < val._amount
    
    def __gt__(self, val):
        self.conversion()
        val.conversion()
        return self._amount > val._amount
    
    def __le__(self, val):
        self.conversion()
        val.conversion()
        return self._amount <= val._amount
    
    def __ge__(self, val):
        self.conversion()
        val.conversion()
        return self._amount >= val._amount

In [105]:
x = Money(400, "Rub")

In [106]:
x.conversion()

In [107]:
x

2320.0 AMD

In [108]:
y = Money(50, "Eur")

In [109]:
x + y

'23820.0 AMD'

In [110]:
x.conversion.calls

3

In [288]:
z = Money(45, "funt")

MoneyError: Currency should be AMD,RUB,USD, or EUR: funt

### MyRange

In [90]:
class MyRange:
    
    def __init__(self, current, end, step):
        self._current = current
        self._end = end
        self._step = step
        
    def __repr__(self):
        return f"current = {self._current}, end = {self._end}, step = {self._step}"
    
    def __iter__(self):
        return self
    
    def __next__(self):
        if self._current >= self._end:
            raise StopIteration
        else:
            self._current += self._step
        return self._current
    
    def __len__(self):
        return self._end - self._current
    
#     def __getitem__(self, value):
#         return self.

    def __reversed__(self):
        for i in range(self._end, self._current - 1, -self._step):
            yield i

In [91]:
a = MyRange(1,5,1)

In [92]:
a

current = 1, end = 5, step = 1

In [93]:
a1 = reversed(a)

In [99]:
next(a1)

StopIteration:

In [76]:
a2 = iter(a)

In [77]:
next(a2)

2

### Doctor

In [ ]:
class Doctor(Person):
    
    def __init__(self, name, surname, gender, age, address, friends, jobs, department, profession, patronymic, salary):
        super().__init__(self, name, surname, gender, age, address, friends, jobs)
        self._department = department
        self._profession = profession
        self._patronymic = patronymic
        self._salary = salary
        
    def __repr__(self):
        return f"{self._name} {self._surname} is a {self._profession} doctor at {self._department} department"
    
    @property
    def department(self):
        return self._department
    
    @department.setter
    def department(self,value):
        self._department = value
        
    @property
    def profession(self):
        return self._profession
    
    @profession.setter
    def profession(self,value):
        self._profession = value
        
    @property
    def patronymic(self):
        return self._patronymic
    
    @property
    def salary(self):
        return self._salary
    
    @salary.setter
    def salary(self,value):
        self._sallary = value

### City

In [ ]:
class City:
     def __init__(self, name, mayor, population, language):
            self._name = name
            self._mayor = mayor
            self._population = population
            self._language = language
            
    def __repr__(self):
        return f"The city {self._name} the mayor of which is {self._mayor}, has population of {self._population} and language {self._language}"
    
    
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, value):
        self._name = value
        
    @property
    def mayor(self):
        return self._mayor
    
    @mayor.setter(self,value):
        self._mayor = value
        
    @property
    def population(self):
        return self._population
    
    @population.setter
    def population(self, value):
        self._popukation = value
        
    @property
    def language(self):
        return self._language

### University

In [2]:
class University:
    def __init__(self, name, founded_at, rector, city):
        self._name = name
        self._founded_at = founded_at
        self._rector = rector
        self._city = city
    
    def __repr__(self):
        return f"{self._name} was founded in {self._founded_at} in {self._city}, Rector is {self._rector}"
    
    @property
    def name(self):
        return self._name
    
    @name.setter
    def name(self, val):
        self._name = val
        
    @property
    def founded_at(self):
        return self._founded_at
    
    @founded_at.setter
    def founded_at(self, val):
        self._founded_at = val
        
    @property
    def rector(self):
        return self._rector
    
    @rector.setter
    def rector(self, val):
        self._rector = val
        
    @property
    def city(self):
        return self._city
    
    @city.setter
    def city(self, val):
        self._city = val

### Teacher

In [60]:
class Teacher(Person):
    def __init__(self, name, surname, gender, age, address, university, faculty, experience, start_work_at, subject, salary ,friends = [], job = []):
        Person.__init__(self, name, surname, gender, age, address, friends, job)
        self._university = university
        self._faculty = faculty
        self._experience = experience
        self._start_work_at = start_work_at
        self._subject = subject
        self._salary = salary
    
    def __repr__(self):
        return f"The teacher {self._name} {self._surname} {self._gender} {self._age} {self._address},teaching at uni {self._university} {self._faculty}."
    
    @property
    def experience(self):
        return self._experience
    
    @experience.setter
    def experience(self, val):
        self._experience = val
        
    @property
    def start_work_at(self):
        return self._start_work_at
    
    @start_work_at.setter
    def start_work_at(self, val):
        self._start_work_at = val
        
    @property
    def faculty(self):
        return self._faculty
    
    @faculty.setter
    def faculty(self, val):
        self._faculty = val
        
    @faculty.deleter
    def faculty(self):
        del self._faculty
        
    @property
    def salary(self):
        return self._salary
    
    @salary.setter
    def salary(self, val):
        self._alary = val

### Student

In [ ]:
class Student(Person):
    def __init__(self, name, surname, gender, age, address, university, faculty, course, started_at, friends = [], job = []):
        Person.__init__(self, name, surname, gender, age, address, friends, job)
        self._university = university
        self._faculty = faculty
        self._course = course
        self._started_at = started_at
        
    def __repr__(self):
        return f" Student {self._name} {self._surname} {self._gender} {self._age} {self._address}. Studying at University {self._university}, {self._faculty}. {self._course}. Starting from {self._started_at}"
    
    @property
    def university(self):
        return self._universuty
    
    @university.setter
    def university(self, val):
        self._university = val

    @property
    def faculty(self):
        return self._faculty
    
    @faculty.setter
    def facultu(self, val):
        self._faculty = val
        
    @property
    def course(self):
        return self._course
    
    @course.setter
    def course(self, val):
        self._course = val
        
    @property
    def started_at(self):
        return self._started_at